<footer>
  <div
    class="bg-[#EEEEEE] p-10 flex flex-col lg:flex-row items-center justify-evenly"
  >
    <div
      class="flex flex-col items-center lg:items-start text-center lg:text-left h-full mb-7 lg:mb-0"
    >
      <h1 class="font-semibold text-3xl mb-5">Luce</h1>
      <p class="text-sm">COPYRIGHT &copy; 2024 WPRING. ALL RIGHTS RESERVED</p>
    </div>

    <div class="flex flex-col items-center lg:items-start mb-5 lg:mb-0">
      <span class="mb-2">Order History</span>
      <span class="mb-2">My Account</span>
      <span class="mb-2">About</span>
      <span class="mb-2">Contact Us</span>
    </div>

    <div class="flex flex-col items-center lg:items-start mb-5 lg:mb-0">
      <a class="mb-2 hover:text-red-400 flex items-center" href="">
        <i class="fa-brands fa-facebook mr-2" style="color: #000000"></i>
        Facebook
      </a>
      <a class="mb-2 hover:text-red-400 flex items-center" href="">
        <i class="fa-brands fa-pinterest mr-2" style="color: #000000"></i>
        Instagram
      </a>
      <a class="mb-2 hover:text-red-400 flex items-center" href="">
        <i class="fa-brands fa-instagram mr-2" style="color: #000000"></i>
        Pinterest
      </a>
      <a class="mb-2 hover:text-red-400 flex items-center" href="">
        <i class="fa-brands fa-youtube mr-2" style="color: #000000"></i> Youtube
      </a>
    </div>

    <div class="w-full lg:w-[30%] flex flex-col items-center">
      <p class="mb-5 text-sm text-center">
        Sign up for our newsletter to get the latest news, announcements, and
        specials
      </p>
      <div class="flex justify-center border-b-2 w-full">
        <input
          class="bg-[#EEEEEE] outline-none text-center lg:text-left w-full"
          type="text"
          placeholder="ENTER YOUR EMAIL"
        />
        <button>
          <span class="font-[Limelight] text-lg"> SUBSCRIBE</span>
        </button>
      </div>
    </div>
  </div>
</footer>
