<% layout("/layouts/boilerplate") %>

<div class="h-auto md:h-[60%] w-full bg-[#EEEEEE] pt-[10%] px-5 md:px-[7%]">
  <h1 class="py-5 text-justify text-base md:text-lg">
    <span class="text-xl md:text-2xl font-semibold text-[#929AAB]">Welcome to Luce,</span> 
    your go-to destination for premium shoes, watches, and bags. We’re committed to bringing you a curated selection of high-quality products that blend style and functionality. Our user-friendly platform ensures a seamless shopping experience, with secure checkout, easy sign-up, and exclusive discounts. At Luce, we believe in making luxury accessible to everyone. Thank you for being a part of our community.
  </h1>
</div>
<hr class="w-full mt-2">
