<% layout("/layouts/boilerplate") %>

<div
  class="h-auto lg:h-[70%] w-full bg-[#EEEEEE] flex flex-col lg:flex-row items-center justify-center lg:justify-end mb-4 mt-[5%] px-4 lg:px-0"
>
  <div
    class="h-auto flex flex-col items-center justify-center lg:mr-[5%] text-center lg:text-right mb-4 lg:mb-0"
  >
    <h1 class="font-[Dynalight] text-4xl lg:text-6xl">Astronomia Dragon</h1>
    <h2 class="font-[Limelight] text-3xl lg:text-5xl mb-5">Watch</h2>
    <a
      href="/shop/category/watches"
      class="bg-[#393E46] py-2 text-sm lg:text-base px-6 text-white rounded-full"
    >
      Discover More
    </a>
  </div>
  <div class="h-[60%]  lg:h-[90%] w-full lg:w-auto">
    <img
      class="object-contain h-full w-full"
      src="/images/watch.jpg"
      alt="Astronomia Dragon Watch"
    />
  </div>
</div>

<div class="w-full px-4 lg:px-0">
  <p class="py-5 text-center text-lg lg:text-xl">
    "Experience the pinnacle of fashion with our premium range of watches,
    artisanal shoes, and designer bags, meticulously crafted to offer
    exceptional quality and unparalleled elegance for the ultimate wardrobe
    upgrade"
  </p>
</div>

<div
  class="h-auto lg:h-[35%] w-full px-4 lg:px-6 flex flex-col lg:flex-row justify-center gap-4 mb-[2%]"
>
  <div
    class="h-auto lg:h-full w-full lg:w-[48%] bg-[#EEEEEE] flex items-center justify-center lg:mr-[2%] p-4 lg:p-0"
  >
    <img
      class="object-contain h-full w-[50%] lg:w-[40%] mr-0 lg:mr-[8%]"
      src="/images/shoe.png"
      alt="Air Jordan Shoes"
    />
    <div class="text-center lg:text-right">
      <h1 class="font-[Limelight] mb-3 text-3xl lg:text-4xl">Shoes</h1>
      <a
        href="/shop/category/shoes"
        class="bg-[#393E46] py-2 text-xs lg:text-sm px-4 text-white rounded-full"
      >
        Get Yours Today
      </a>
    </div>
  </div>

  <div
    class="h-auto lg:h-full w-full lg:w-[48%] bg-[#EEEEEE] flex items-center justify-center lg:justify-start p-4 lg:p-0"
  >
    <img
      class="object-contain h-full w-[50%] lg:w-[40%] mr-0 lg:mr-[8%]"
      src="/images/bag.png"
      alt="Designer Bag"
    />
    <div class="text-center lg:text-left">
      <h1 class="font-[Limelight] mb-3 text-3xl lg:text-4xl">Bags</h1>
      <a
        href="/shop/category/bags"
        class="bg-[#393E46] py-2 text-xs lg:text-sm px-4 text-white rounded-full"
      >
        Shop Now
      </a>
    </div>
  </div>
</div>

<div class="w-full text-center mt-4 mb-5">
  <a class="bg-[#393E46] py-2 px-6 text-white rounded-full" href="#"
    >LOAD MORE</a
  >
</div>

<div class="flex justify-center">
  <hr class="bg-[#EEEEEE] w-[95%] mb-5 mt-5" />
</div>
